default_language_version:
  python: python3.10

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: python3 -m ruff check .
        language: system
        types: [python]
        pass_filenames: false

      - id: ruff-format
        name: ruff-format
        entry: python3 -m ruff format . --check
        language: system
        types: [python]
        pass_filenames: false

      - id: mypy
        name: mypy
        entry: python3 -m mypy .
        language: system
        types: [python]
        pass_filenames: false
